{% extends "base.html" %}
{% block title %}  Blog List {% endblock %}

{% block content %}
 <h1 class="text-red-700 text-3xl mt-5 mb-5 text-center">My Blogs</h1>

<ul class="ml-3 mr-10">
    {% for blog in blogs%}
    <li>
        <h3 class="text-bold text-2xl">{{blog.title}}</h3> 
        <img src="{{blog.image.url}}" alt="Blog Image" class="image" width="300"></a>
        <p>{{blog.content}}</p>
        <p><b>{{blog.author}} on {{blog.date_posted}}</b></p>
        <p >{{ blog.date_posted }}</p>
    </li>
      {% endfor %}
</ul>


 {% endblock %}